<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My webpage</title>
</head>
<body>
<nav>
    <a href="/about/">Про нас</a>
    <a href="/contact-us/">Зв'язатися з нами</a>
    <a href="/store/">До складу :)</a>
</nav>
<h1>Welcome</h1>
<h2>Це є наша веб сторінка</h2>
<p>
    Привіт, це наша перша веб сторінка.
</p>
<img src="{{url_for('static', filename='cat.png')}}" alt="тут буде котик" style="width:500px">
<br>
<br>
<a href="https://google.com">Googel page</a>
</body>
</html>